{{#*inline "htmTitleCoursePage"}}		<!-- inline "htmTitleCoursePage" -->
		<title>{{#if searchListCourse_}}{{#eq courseCount int1}}{{#eq params.query.q "*:*"}}course{{else}}course{{/eq}}{{else}}no course found{{/eq}}{{else}}courses{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaCoursePage"}}{{> "htmMetaArticlePage"}}{{/inline}}
{{#*inline "htmStyleCoursePage"}}{{> "htmStyleArticlePage"}}{{/inline}}
{{#*inline "htmScriptsCoursePage"}}{{> "htmScriptsArticlePage"}}		<!-- inline "htmScriptsCoursePage" -->
		<script src="{{staticBaseUrl}}/js/enUS/CoursePage.js"></script>
{{/inline}}
{{#*inline "htmScriptCoursePage"}}		<!-- inline "htmScriptCoursePage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
				}
				websocketCourse(websocketCourseInner);
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				pageGraph();
			});
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
		</script>
{{/inline}}
{{#*inline "htmUrlCourse"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadCoursePage"}}{{> "htmTitleCoursePage"}}{{> "htmMetaCoursePage"}}{{> "htmStyleCoursePage"}}{{> "htmScriptsCoursePage"}}{{> "htmScriptCoursePage"}}{{/inline}}
{{#*inline "htmBodySearchCoursePage"}}								<!-- #*inline "htmBodySearchCoursePage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qCourse_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qCourse_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange(this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qCourse_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qCourse_start" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="start" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qCourse_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qCourse_rows" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="rows" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersCoursePage"}}								<!-- #*inline "htmBodyFiltersCoursePage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqCourse_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetCourse_{{ @key }}" class="" onclick="facetFieldChange(this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqCourse_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange(this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqCourse_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetCourse_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldCourse_{{ @key }} " id="pageFacetFieldCourse_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="Course" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace(this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangeCoursePage"}}								<!-- #*inline "htmBodyRangeCoursePage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-Course">{{#if defaultRangeGap }}facet.range.gap={{encodeURIComponent defaultRangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-Course">{{#if defaultRangeStart }}facet.range.start={{encodeURIComponent defaultRangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-Course">{{#if defaultRangeEnd }}facet.range.end={{encodeURIComponent defaultRangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-Course">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-Course" onchange="facetRangeChange(this, 'Course'); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-Course" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'Course'); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-Course" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'Course'); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangeCourse_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange(this, 'Course'); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangeCourse_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotCoursePage"}}								<!-- #*inline "htmBodyPivotCoursePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotCourseHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotCourseHidden " id="pageSearchVal-PivotCourseHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotCourse">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotCourse " id="pageSearchVal-PivotCourse_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotCourse_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange(this, 'Course'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotCourse_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListCoursePage"}}								<!-- #*inline "htmBodyFieldListCoursePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListCourseHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListCourseHidden " id="pageSearchVal-FieldListCourseHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListCourse">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListCourse " id="pageSearchVal-FieldListCourse_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListCourse_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange(this, 'Course'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListCourse_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsCoursePage"}}								<!-- #*inline "htmBodyStatsCoursePage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsCourseHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsCourseHidden " id="pageSearchVal-StatsCourseHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsCourse">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsCourse_{{ this }} " id="pageSearchVal-StatsCourse_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsCourse_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange(this, 'Course'); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsCourse_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldCourse_{{ @key }} " id="pageStatsFieldCourse_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="Course" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/min }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuCoursePage"}}		<!-- #*inline "htmBodyMenuCoursePage" -->
{{> "htmBodyMenuArticlePage"}}{{/inline}}
{{#*inline "htmBodyGraphCoursePage"}}		<!-- #*inline "htmBodyGraphCoursePage" -->
<div id="htmBodyGraphArticlePage" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyCount0CoursePage"}}		<!-- #*inline "htmBodyCount0CoursePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-green w3-hover-green">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">courses</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-green">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no course found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllCoursePage"}}		<!-- #*inline "htmBodyCount1AllCoursePage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-green w3-hover-green">
			{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
			{{/if}}
				<span class="">course</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-green">
				<span class="">{{course_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1CoursePage"}}		<!-- #*inline "htmBodyCount1CoursePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-green w3-hover-green">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">courses</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1CoursePage"}}
{{/inline}}
{{#*inline "htmBodyAllCoursePage"}}		<!-- #*inline "htmBodyAllCoursePage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-green w3-hover-green">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">courses</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1CoursePage"}}
		</div>
{{/inline}}
{{#*inline "htmFormCoursePage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/course" id="CourseForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if id}}
			<input name="id" class="valueId" type="hidden" value="{{id}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmForm_searchpageCourse"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmFormCoursePage_searchpageCourse"}}
		<div id="searchpageCourseModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpageCourseFormValues">
						<div id="searchpageCourseForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarCoursePage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-green'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-green'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-green'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-green'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-green " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-green'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-green " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-green'); $(this).addClass('w3-black'); $(this).removeClass('w3-green'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-green " href="{{ apiUri }}{{ queryStr }}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-green " style="display: none; ">
							<div class="w3-bar w3-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-green " style="display: none; ">
							<div class="w3-bar w3-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-green " style="display: none; ">
							<div class="w3-bar w3-green  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-green " style="display: none; ">
							<div class="w3-bar w3-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-green " style="display: none; ">
							<div class="w3-bar w3-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-green " style="display: none; ">
							<div class="w3-bar w3-green ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartCoursePage"}}
{{> "htmBodyStartArticlePage"}}
{{/inline}}
{{#*inline "htmBodyMiddleCoursePage"}}
{{> "htmBodyMiddleArticlePage"}}
{{/inline}}
{{#*inline "htmBodyEndCoursePage"}}
{{> "htmBodyEndArticlePage"}}
{{/inline}}
{{#*inline "htmBodyCoursePage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddleCoursePage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
	{{#eq courseCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq courseCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1CoursePage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2CoursePage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2CoursePage"}}
{{> "thead1CoursePage"}}
{{> "tbody1CoursePage"}}
{{> "tfoot1CoursePage"}}
{{/inline}}
{{#*inline "thead1CoursePage"}}
				<thead class="w3-green w3-hover-green">
{{> thead2CoursePage}}
				</thead>
{{/inline}}
{{#*inline "thead2CoursePage"}}
			<tr>
						<th>created</th>
						<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1CoursePage"}}
				<tbody>
{{> tbody2CoursePage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2CoursePage"}}
		{{#each listCourse}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="far fa-university "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1CoursePage"}}
				<tfoot class="w3-green w3-hover-green">
{{> tfoot2CoursePage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2CoursePage"}}
			<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsCoursePage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq courseCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-green "
			id="refreshThisCourseGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'id:{{id}}' } ], {}, function() { addGlow($('#refreshThisCourseGenPage')); }, function() { addError($('#refreshThisCourseGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this course
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedCoursePage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllCourseGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-green "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllCourseGenPage{{id}}')); }, function() { addError($('#refreshAllCourseGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the courses
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search courses: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestCourse w3-input w3-border w3-bar-item "
					name="suggestCourse"
					id="suggestCourse{{id}}"
					autocomplete="off"
					oninput="suggestCourseObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,,pageUrlPk,objectTitle' } ], $('#suggestListCourse{{id}}'), {{id}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/enUS/course?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listCourse}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-green "
					onclick="window.location.href = '/enUS/course?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListCourse{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/enUS/course" class="">
					<i class="far fa-university"></i>
					see all the courses
				</a>
			</div>
{{/inline}}
{{> ArticlePage article_=course_}}
