{{#*inline "htmTitlePixelArtPage"}}		<!-- inline "htmTitlePixelArtPage" -->
		<title>{{#if searchListPixelArt_}}{{#eq pixelArtCount int1}}{{#eq params.query.q "*:*"}}pixel art{{else}}pixel art{{/eq}}{{else}}no pixel art found{{/eq}}{{else}}pixel arts{{/if}}</title>
{{/inline}}
{{#*inline "htmMetaPixelArtPage"}}{{> "htmMetaBaseModelPage"}}{{/inline}}
{{#*inline "htmStylePixelArtPage"}}{{> "htmStyleBaseModelPage"}}{{/inline}}
{{#*inline "htmScriptsPixelArtPage"}}{{> "htmScriptsBaseModelPage"}}		<!-- inline "htmScriptsPixelArtPage" -->
		<script src="{{staticBaseUrl}}/js/enUS/PixelArtPage.js"></script>
{{/inline}}
{{#*inline "htmScriptPixelArtPage"}}		<!-- inline "htmScriptPixelArtPage" -->
		<script>
			$(document).ready(function() {
				document.onkeydown = function(evt) {
					evt = evt || window.event;
					var isEscape = false;
					if ('key' in evt) {
						isEscape = (evt.key === 'Escape' || evt.key === 'Esc');
					} else {
						isEscape = (evt.keyCode === 27);
					}
					if (isEscape) {
						$('.w3-modal:visible').hide();
					}
				};
				window.eventBus = new EventBus('/eventbus');
				var pk = {{#if pk}}{{pk}}{{else}}null{{/if}};
				if(pk != null) {
				}
				websocketPixelArt(websocketPixelArtInner);
				window.varsFq = JSON.parse('{{{toJsonObjectStringInApostrophes varsFq}}}');
				pageGraph();
			});
{{#if DEFAULT_MAP_LOCATION }}
			window.DEFAULT_MAP_LOCATION = { lat: {{ DEFAULT_MAP_LOCATION.lat }}, lon: {{ DEFAULT_MAP_LOCATION.lon }} };
{{/if}}
{{#if DEFAULT_MAP_ZOOM }}
			window.DEFAULT_MAP_ZOOM = {{ DEFAULT_MAP_ZOOM }};
{{/if}}
		</script>
{{/inline}}
{{#*inline "htmUrlPixelArt"}}{{pageUri}}?q={{query.q}}&amp;rows={{#if rows}}{{rows}}{{else}}{{pagination.rows}}{{/if}}&amp;rows={{#if start}}{{start}}{{else}}{{pagination.start}}{{/if}}{{#each query.fq}}{{#eq fq this}}{{else}}&fq={{fq}}:{{val}}{{/eq}}{{/each}}{{#each query.sort}}{{#eq sort this}}{{else}}&sort={{var}} {{order}}{{/eq}}{{/each}}{{/inline}}
{{#*inline "htmHeadPixelArtPage"}}{{/block}}{{#block "htmTitle"}}{{/block}}{{#block "htmMeta"}}{{/block}}{{#block "htmStyle"}}{{/block}}{{#block "htmScripts"}}{{/block}}{{#block "htmScript"}}{{/block}}{{/inline}}
{{#*inline "htmBodySearchPixelArtPage"}}								<!-- #*inline "htmBodySearchPixelArtPage" -->
								<div>
{{#each varsQ}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qPixelArt_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qPixelArt_{{ @key }}" placeholder="{{ displayName }}" class="" {{#eq ../var 'objectSuggest' }}onkeyup{{else}}onchange{{/eq}}="qChange(this); " data-var="{{ var }}" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
{{/each}}
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qPixelArt_Start">start<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qPixelArt_start" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="start" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<label for="qPixelArt_Rows">rows<sup class="w3-tiny "> (Long)</sup></label>
										</div>
									</div>
									<div class="w3-cell-row ">
										<div class="w3-cell w3-cell-top ">
											<input id="qPixelArt_rows" placeholder="{{ displayName }}" class="" onchange="paramChange(this); " data-var="rows" autocomplete="off="/>
											<div class="pageSearchVal w3-tiny "></div>
										</div>
									</div>
								</div>
{{/inline}}
{{#*inline "htmBodyFiltersPixelArtPage"}}								<!-- #*inline "htmBodyFiltersPixelArtPage" -->
								<div>
{{#each varsFq }}
									<div class="">
										<label for="fqPixelArt_{{ @key }}">{{ displayName }}<sup class="w3-tiny "> ({{ classSimpleName }})</sup></label>
										<div class="w3-cell-row ">
											<div class="w3-cell w3-cell-top ">
												<button id="buttonFacetPixelArt_{{ @key }}" class="" onclick="facetFieldChange(this); " title="see values " data-var="{{ var }}" data-clear="{{#if facetField }}true{{else}}false{{/if}}"><i class="fas fa-list "></i></button>
											</div>
											<div class="w3-cell w3-cell-top ">
												<input id="fqPixelArt_{{ @key }}" placeholder="{{ displayName }}" class="" onchange="fqChange(this); " data-var="{{ var }}" autocomplete="off=" value="{{ val }}"/>
											</div>
										</div>
									</div>
									<div class="w3-tiny ">
										<div class="pageSearchVal " id="pageSearchVal-fqPixelArt_{{ @key }}">{{#if val }}fq={{ var }}:{{encodeURIComponent val }}{{/if}}</div>
										<div class="pageSearchVal " id="pageSearchVal-buttonFacetPixelArt_{{ @key }}">{{#if facetField.var }}facet.field={{ facetField.var }}{{/if}}</div>
										<ol class="pageFacetField w3-small pageFacetFieldPixelArt_{{ @key }} " id="pageFacetFieldPixelArt_{{ @key }}">
{{#each facetField.counts }}
											<li class="cursor-pointer " data-class="PixelArt" data-var="{{ ../var }}" data-val="{{ @key }}" onclick="fqReplace(this); ">{{ @key }}: {{ this }}</li>
{{/each}}
										</ol>
									</div>
{{/each}}
								</div>
{{/inline}}
{{#*inline "htmBodyRangePixelArtPage"}}								<!-- #*inline "htmBodyRangePixelArtPage" -->
								<table class="w3-padding ">
									<tr>
										<td class="w3-padding w3-tiny " colspan="2">
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeGap-PixelArt">{{#if defaultRangeGap }}facet.range.gap={{encodeURIComponent defaultRangeGap }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeStart-PixelArt">{{#if defaultRangeStart }}facet.range.start={{encodeURIComponent defaultRangeStart }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeEnd-PixelArt">{{#if defaultRangeEnd }}facet.range.end={{encodeURIComponent defaultRangeEnd }}{{/if}}</div>
											<div class="pageSearchVal " id="pageSearchVal-pageFacetRangeVar-PixelArt">{{#if defaultRangeVar }}facet.range={!tag=r1}{{encodeURIComponent defaultRangeVar }}{{/if}}</div>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
									<tr class="">
										<td class="">
											<span>Range Gap</span>
										</td>
										<td class="">
											<select name="facet.range.gap" id="pageFacetRangeGap-PixelArt" onchange="facetRangeChange(this, 'PixelArt'); ">
												<option value="+1YEAR"{{#eq defaultRangeGap '+1YEAR'}} selected="selected"{{else}}{{/eq}}>Year</option>
												<option value="+1MONTH"{{#eq defaultRangeGap '+1MONTH'}} selected="selected"{{else}}{{/eq}}>Month</option>
												<option value="+1WEEK"{{#eq defaultRangeGap '+1WEEK'}} selected="selected"{{else}}{{/eq}}>Week</option>
												<option value="+1DAY"{{#eq defaultRangeGap '+1DAY'}} selected="selected"{{else}}{{#if defaultRangeGap}}{{else}} selected="selected"{{/if}}{{/eq}}>Day</option>
												<option value="+1HOUR"{{#eq defaultRangeGap '+1HOUR'}} selected="selected"{{else}}{{/eq}}>Hour</option>
												<option value="+1MINUTE"{{#eq defaultRangeGap '+1MINUTE'}} selected="selected"{{else}}{{/eq}}>Minute</option>
												<option value="+1SECOND"{{#eq defaultRangeGap '+1SECOND'}} selected="selected"{{else}}{{/eq}}>Second</option>
											</select>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range Start</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeStart" id="pageFacetRangeStart-PixelArt" value="{{formatZonedDateTime defaultRangeStart "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'PixelArt'); "/></span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span>Range End</span>
										</td>
									</tr>
									<tr class="">
										<td class="" colspan="2">
											<span><input type="datetime-local" name="facetRangeEnd" id="pageFacetRangeEnd-PixelArt" value="{{formatZonedDateTime defaultRangeEnd "yyyy-MM-dd'T'HH:mm" defaultLocaleId defaultZoneId}}" onclick="facetRangeChange(this, 'PixelArt'); "/></span>
										</td>
									</tr>
								</table>
								<table class="w3-padding ">
{{#each varsRange }}
									<tr class="">
										<td class="">
											<span><input type="radio" name="pageFacetRange" class="pageFacetRange " id="pageFacetRangePixelArt_{{ @key }}" value="{{ var }}"{{#eq defaultRangeVar var }} checked="checked"{{/eq}} onclick="facetRangeChange(this, 'PixelArt'); "/></span>
										</td>
										<td class="">
											<label for="pageFacetRangePixelArt_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyPivotPixelArtPage"}}								<!-- #*inline "htmBodyPivotPixelArtPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-PivotPixelArtHidden">
{{#each defaultPivotVars }}
									<div class="pageSearchVal-PivotPixelArtHidden " id="pageSearchVal-PivotPixelArtHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-PivotPixelArt">
{{#if defaultPivotVars }}
									<div class="pageSearchVal pageSearchVal-PivotPixelArt " id="pageSearchVal-PivotPixelArt_1">facet.pivot={!range=r1}{{#each defaultPivotVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFacetPivot" class="pageFacetPivot " id="pageFacetPivotPixelArt_{{ @key }}" value="{{ var }}"{{#if pivot }} checked="checked"{{/if}} onclick="facetPivotChange(this, 'PixelArt'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFacetPivotPixelArt_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyFieldListPixelArtPage"}}								<!-- #*inline "htmBodyFieldListPixelArtPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-FieldListPixelArtHidden">
{{#each defaultFieldListVars }}
									<div class="pageSearchVal-FieldListPixelArtHidden " id="pageSearchVal-FieldListPixelArtHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-FieldListPixelArt">
{{#if defaultFieldListVars }}
									<div class="pageSearchVal pageSearchVal-FieldListPixelArt " id="pageSearchVal-FieldListPixelArt_1">fl={{#each defaultFieldListVars }}{{#if @index }},{{/if}}{{ this }}{{/each}}</div>
{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageFieldList" class="pageFieldList " id="pageFieldListPixelArt_{{ @key }}" value="{{ var }}"{{#if fieldList }} checked="checked"{{/if}} onclick="facetFieldListChange(this, 'PixelArt'); "/></span>
										</td>
										<td class="w3-cell ">
											<label for="pageFieldListPixelArt_{{ @key }}">{{ displayName }}</label>
										</td>
									</tr>
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyStatsPixelArtPage"}}								<!-- #*inline "htmBodyStatsPixelArtPage" -->
								<div style="display: none; " class="w3-padding w3-tiny " id="pageSearchVal-StatsPixelArtHidden">
{{#each defaultStatsVars }}
									<div class="pageSearchVal-StatsPixelArtHidden " id="pageSearchVal-StatsPixelArtHidden_{{ this }}">{{ this }}</div>
{{/each}}
								</div>
								<div class="w3-padding w3-tiny " id="pageSearchVal-StatsPixelArt">
{{#if defaultStatsVars }}
{{#each defaultStatsVars }}									<div class="pageSearchVal pageSearchVal-StatsPixelArt_{{ this }} " id="pageSearchVal-StatsPixelArt_{{ this }}">stats.field={{ this }}</div>
{{/each}}{{/if}}
								</div>
								<table class="w3-table ">
{{#each varsFq }}
{{#if enableStats }}
									<tr class="">
										<td class="">
											<span><input type="checkbox" name="pageStats" class="pageStats " id="pageStatsPixelArt_{{ @key }}" value="{{ var }}"{{#if ./stats }} checked="checked"{{/if}} onclick="facetStatsChange(this, 'PixelArt'); "/></span>
										</td>
										<td class="w3-cell ">
											<div>
												<label for="pageStatsPixelArt_{{ @key }}">{{ displayName }}</label>
											</div>
											<div class="pageStatsField w3-small pageStatsFieldPixelArt_{{ @key }} " id="pageStatsFieldPixelArt_{{ @key }}">
{{#if ./stats }}
{{#each ./stats }}
{{#eq @key 'name' }}{{else}}
												<div data-class="PixelArt" data-var="{{ ../var }}" data-val="{{ @key }}">{{ @key }}: {{ this }}</div>
{{/eq}}
{{/each}}
{{#if ./stats/min }}
									<div>									<span> step </span>									<input id="animateStatsStep" placeholder="step" value="1" style="width: 4em; "/>									<span> min </span>									<input id="animateStatsMin" placeholder="min" value="{{ ./stats/min }}" style="width: 4em; "/>									<span> max </span>									<input id="animateStatsMax" placeholder="max" value="{{ ./stats/max }}" style="width: 4em; "/>									<span> speed in seconds </span>									<input id="animateStatsSpeed" placeholder="speed" value="1" style="width: 4em; "/>									<button onclick="animateStats(); ">animate</button>									</div>{{/if}}
{{/if}}
											</div>
										</td>
									</tr>
{{/if}}
{{/each}}
								</table>
{{/inline}}
{{#*inline "htmBodyMenuPixelArtPage"}}		<!-- #*inline "htmBodyMenuPixelArtPage" -->
{{> "htmBodyMenuBaseModelPage"}}{{/inline}}
{{#*inline "htmBodyGraphPixelArtPage"}}		<!-- #*inline "htmBodyGraphPixelArtPage" -->
<div id="htmBodyGraphBaseModelPage" class="w3-content htmBodyGraph "></div>{{/inline}}
{{#*inline "htmBodyCount0PixelArtPage"}}		<!-- #*inline "htmBodyCount0PixelArtPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
				{{/if}}
				<span class="">pixel arts</span>
			</a>
		</h1>
		<h2>
			<span class="w3-bar-item w3-padding w3-center w3-block w3-blue">
				{{#if contextIconCssClasses}}
					<i class="{{ contextIconCssClasses }}  site-menu-icon "></i>
				{{/if}}
				<span class="">no pixel art found</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1AllPixelArtPage"}}		<!-- #*inline "htmBodyCount1AllPixelArtPage" -->
		<h1 class="w3-center ">
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-block w3-blue w3-hover-blue">
			{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
			{{/if}}
				<span class="">pixel art</span>
			</a>
		</h1>
		<h2 class="w3-center ">
			<span class="w3-bar-item w3-padding w3-center w3-block w3-blue">
				<span class="">{{pixelArt_.objectTitle}}</span>
			</span>
		</h2>
{{/inline}}
{{#*inline "htmBodyCount1PixelArtPage"}}		<!-- #*inline "htmBodyCount1PixelArtPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">pixel arts</span>
			</a>
		</h1>
		<div>
	{{#if pagination.pagePrevious}}
			<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-left "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
				<i class="fas fa-minus-square "></i>
			</a>
	{{else}}
			<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
			<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
				<i class="fas fa-plus-square "></i>
			</a>
	{{#if pagination.pageNext}}
			<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
				<i class="fas fa-arrow-square-right "></i>
			</a>
	{{else}}
			<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
			<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
		</div>
{{> "table1PixelArtPage"}}
{{/inline}}
{{#*inline "htmBodyAllPixelArtPage"}}		<!-- #*inline "htmBodyAllPixelArtPage" -->
		<h1>
			<a href="{{pageUri}}" class="w3-bar-item w3-btn w3-center w3-block w3-blue w3-hover-blue">
	{{#if contextIconCssClasses}}
				<i class="{{ contextIconCssClasses }} site-menu-icon "></i>
	{{/if}}
				<span class="">pixel arts</span>
			</a>
		</h1>
		<div class="">
			<div>
	{{#if pagination.pagePrevious}}
				<a href="{{pageUri}}?start={{pagination.pagePrevious.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-left "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-left w3-opacity "></i>
	{{/if}}
	{{#gte pagination.rowsPrevious pagination.1L}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsPrevious }}">
					<i class="fas fa-minus-square "></i>
				</a>
	{{else}}
				<i class="fas fa-minus-square w3-opacity "></i>
	{{/gte}}
				<a href="{{pageUri}}?start={{pagination.start}}&amp;rows={{ pagination.rowsNext }}">
					<i class="fas fa-plus-square "></i>
				</a>
	{{#if pagination.pageNext}}
				<a href="{{pageUri}}?start={{pagination.pageNext.start}}&amp;rows={{pagination.rows}}">
					<i class="fas fa-arrow-square-right "></i>
				</a>
	{{else}}
				<i class="fas fa-arrow-square-right w3-opacity "></i>
	{{/if}}
				<span>{{ pagination.startNum }} - {{ pagination.endNum }} of {{ pagination.foundNum }}</span>
			</div>
{{> "table1PixelArtPage"}}
		</div>
{{/inline}}
{{#*inline "htmFormPixelArtPage"}}
		<!-- #*inline "htmForm" -->
		<form action="/api/pixel-art" id="PixelArtForm" class="pageForm " style="" onsubmit="event.preventDefault(); return false; ">
{{#if pk}}
			<input name="pk" class="valuePk" type="hidden" value="{{pk}}"/>
{{/if}}
			<input name="focusId" type="hidden"/>
			<input name="pageResponse" id="pageResponse" class="pageResponse"  value='{{{toJsonObjectStringInApostrophes pageResponse }}}' type="hidden"/>
		</form>
{{#if id}}
{{#block "htmForm_searchpagePixelArt"}}{{/block}}
{{/if}}
{{/inline}}
{{#*inline "htmFormPixelArtPage_patchPixelArt"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#patchPixelArtModal').show(); "
			>
			<i class="fas fa-edit "></i>
			Modify pixel arts
		</button>
		<div id="patchPixelArtModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#patchPixelArtModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Modify pixel arts</h2>
					</header>
					<div class="" id="patchPixelArtFormValues">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="PATCH"}}
{{> "htmDeleted" classApiMethodMethod="PATCH"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmBase64Data" classApiMethodMethod="PATCH"}}
{{> "htmPixelArtName" classApiMethodMethod="PATCH"}}
							</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="patchPixelArt(null, $('#patchPixelArtFormValues')); "
							>Modify pixel arts</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormPixelArtPage_postPixelArt"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#postPixelArtModal').show(); "
			>
			<i class="fas fa-file-plus "></i>
			Create a pixel art
		</button>
		<div id="postPixelArtModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#postPixelArtModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Create a pixel art</h2>
					</header>
					<div class="" id="postPixelArtFormValues">
						<div id="postPixelArtForm">
							<div class="w3-cell-row ">
{{> "htmCreated" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="POST"}}
{{> "htmDeleted" classApiMethodMethod="POST"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmBase64Data" classApiMethodMethod="POST"}}
{{> "htmPixelArtName" classApiMethodMethod="POST"}}
							</div>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="postPixelArt($('#postPixelArtForm')); "
							>Create a pixel art</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormPixelArtPage_putimportPixelArt"}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			onclick="$('#putimportPixelArtModal').show(); "
			>
			<i class="fas fa-file-import "></i>
			Import pixel arts
		</button>
		<div id="putimportPixelArtModal" class="w3-modal ">
			<div class="w3-modal-content ">
				<div class="w3-card-4 ">
					<header class="w3-container w3-blue">
	{{#eq "Page" classApiMethodMethod}}
						<span class="w3-button w3-display-topright " onclick="$('#putimportPixelArtModal').hide(); ">×</span>
	{{/eq}}
						<h2 class="w3-padding ">Import pixel arts</h2>
					</header>
					<div class="" id="putimportPixelArtFormValues">
						<div class="w3-cell-row ">
							<textarea
								class="PUTImport_searchList w3-input w3-border "
								style="height: 300px; "
								placeholder="{ 'searchList': [ { 'pk': ... , 'saves': [ ... ] }, ... ] }"
								></textarea>
						</div>
						<button
							class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-margin w3-blue "
							onclick="putimportPixelArt($('#putimportPixelArtFormValues')); "
							>Import pixel arts</button>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmFormPixelArtPage_searchpagePixelArt"}}
		<div id="searchpagePixelArtModal" class="">
			<div class="">
				<div class="w3-card-4 ">
					<div class="" id="searchpagePixelArtFormValues">
						<div id="searchpagePixelArtForm">
							<div class="w3-cell-row ">
{{> "htmPk" classApiMethodMethod="Page"}}
{{> "htmCreated" classApiMethodMethod="Page"}}
{{> "htmModified" classApiMethodMethod="Page"}}
{{> "htmObjectId" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmArchived" classApiMethodMethod="Page"}}
{{> "htmDeleted" classApiMethodMethod="Page"}}
							</div>
							<div class="w3-cell-row ">
{{> "htmBase64Data" classApiMethodMethod="Page"}}
{{> "htmPixelArtName" classApiMethodMethod="Page"}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{/inline}}
{{#*inline "htmBodySidebarPixelArtPage"}}
				<div class="w3-dropdown-click w3-bar-block min-width-300px ">
					<div class="min-width-300px ">
						<span title="Search" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-magnifying-glass hover-box-shadow w3-xlarge "></i> Search</span>
						<span title="Filters" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleFilters').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-filters hover-box-shadow w3-xlarge "></i> Filters</span>
						<span title="Range" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleRange').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-calendar-range hover-box-shadow w3-xlarge "></i> Range</span>
						<span title="Pivot" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarToggleFieldList').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarTogglePivot').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-table-pivot hover-box-shadow w3-xlarge "></i> Pivot</span>
						<span title="FieldList" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleStats').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleFieldList').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-list-ul hover-box-shadow w3-xlarge "></i> FieldList</span>
						<span title="Stats" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " onclick="$('.siteSidebarToggleFieldList').hide(); $('.siteSidebarTogglePivot').hide(); $('.siteSidebarToggleSearch').hide(); $('.siteSidebarToggleFilters').hide(); $('.siteSidebarToggleRange').hide(); $('.siteSidebarToggleStats').toggle(); $('.siteSidebarToggle').removeClass('w3-black'); $('.siteSidebarToggle').addClass('w3-blue'); $(this).addClass('w3-black'); $(this).removeClass('w3-blue'); "><i class="fad fa-chart-candlestick hover-box-shadow w3-xlarge "></i> Stats</span>
						<a title="API" class="siteSidebarToggle w3-padding-small w3-hover-black w3-blue " href="{{ apiUri }}{{ queryStr }}"><i class="fad fa-brackets-curly hover-box-shadow w3-xlarge "></i> API</a>
					</div>
					<div class=" ">
						<div class="siteSidebarToggle siteSidebarToggleSearch w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-magnifying-glass "></i> Search</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodySearch"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFilters w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-filters "></i> Filters</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFilters"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleRange w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue  ">
								<span class="w3-bar-item ">
								<i class="fad fa-calendar-range "></i> Range</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyRange"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarTogglePivot w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-table-pivot "></i> Pivot</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyPivot"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleFieldList w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-list-ul "></i> Field List</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyFieldList"}}{{/block}}
							</div>
						</div>
						<div  class="siteSidebarToggle siteSidebarToggleStats w3-dropdown-content min-width-300px w3-white w3-border w3-border-blue " style="display: none; ">
							<div class="w3-bar w3-blue ">
								<span class="w3-bar-item ">
								<i class="fad fa-chart-candlestick "></i> Stats</span>
							</div>
							<div class="w3-bar-block ">
{{#block "htmBodyStats"}}{{/block}}
							</div>
						</div>
					</div>
				</div>
{{/inline}}
{{#*inline "htmBodyStartPixelArtPage"}}
{{> "htmBodyStartBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyMiddlePixelArtPage"}}
{{> "htmBodyMiddleBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyEndPixelArtPage"}}
{{> "htmBodyEndBaseModelPage"}}
{{/inline}}
{{#*inline "htmBodyPixelArtPage"}}
{{#block "htmBodyStart"}}{{/block}}
{{#block "htmBodyMiddle"}}{{/block}}
{{#block "htmBodyEnd"}}{{/block}}
{{/inline}}
{{#*inline "htmBodyMiddlePixelArtPage"}}
		<div class="w3-bar w3-content ">
{{#block "htmBodySidebar"}}{{/block}}
		</div>
{{#block "htmBodyGraph"}}{{/block}}
	<div class="pageContent w3-content ">
	{{#eq pixelArtCount int0}}
{{#block "htmBodyCount0"}}{{/block}}
	{{else}}
		{{#eq pixelArtCount int1}}
			{{#eq params.query.q "*:*"}}
{{#block "htmBodyCount1All"}}{{/block}}
			{{else}}
{{#block "htmBodyCount1"}}{{/block}}
			{{/eq}}
		{{else}}
{{#block "htmBodyAll"}}{{/block}}
		{{/eq}}
	{{/eq}}
{{#block "htmForm"}}{{/block}}
{{#block "htmForms"}}{{/block}}
	</div>
{{/inline}}
{{#*inline "table1PixelArtPage"}}
		<div class="w3-responsive ">
			<table class="w3-table w3-bordered w3-striped w3-border w3-hoverable ">
{{> table2PixelArtPage}}
			</table>
		</div>
{{/inline}}
{{#*inline "table2PixelArtPage"}}
{{> "thead1PixelArtPage"}}
{{> "tbody1PixelArtPage"}}
{{> "tfoot1PixelArtPage"}}
{{/inline}}
{{#*inline "thead1PixelArtPage"}}
				<thead class="w3-blue w3-hover-blue">
{{> thead2PixelArtPage}}
				</thead>
{{/inline}}
{{#*inline "thead2PixelArtPage"}}
			<tr>
						<th>created</th>
						<th></th>
			</tr>
{{/inline}}
{{#*inline "tbody1PixelArtPage"}}
				<tbody>
{{> tbody2PixelArtPage}}
				</tbody>
{{/inline}}
{{#*inline "tbody2PixelArtPage"}}
		{{#each listPixelArt}}
					<tr>
						<td>
							<a href="{{pageUrlPk}}">
								<span class="white-space-pre-wrap ">{{siteZonedDateTimeFormat created "MMM d, yyyy h:mm:ss a" siteLocale}}</span>
							</a>
						</td>
						<td>
							<a href="{{pageUrlPk}}">
								<i class="fat fa-table-cells "></i>
								<span class="white-space-pre-wrap ">{{objectTitle}}</span>
							</a>
						</td>
					</tr>
		{{/each}}
{{/inline}}
{{#*inline "tfoot1PixelArtPage"}}
				<tfoot class="w3-blue w3-hover-blue">
{{> tfoot2PixelArtPage}}
				</tfoot>
{{/inline}}
{{#*inline "tfoot2PixelArtPage"}}
			<tr>
			{{#if getColumnCreated}}
				<td>
				</td>
			{{/if}}
			{{#if getColumnObjectTitle}}
				<td>
				</td>
			{{/if}}
			</tr>
	{{/inline}}
{{#*inline "htmFormsPixelArtPage"}}
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq pixelArtCount int1}}
		<button
			class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
			id="refreshThisPixelArtGenPage"
			onclick="patch{{classSimpleName}}Vals( [ {name: 'fq', value: 'pk:{{pk}}' } ], {}, function() { addGlow($('#refreshThisPixelArtGenPage')); }, function() { addError($('#refreshThisPixelArtGenPage')); }); return false; ">
			<i class="fas fa-sync-alt "></i>
			refresh this pixel art
		</button>
		{{/eq}}
	{{/ifContainsAnyRoles}}
	{{#ifContainsAnyRoles roles authRolesAdmin}}
{{#block "htmForm_patchPixelArt"}}{{/block}}
{{#block "htmForm_postPixelArt"}}{{/block}}
{{#block "htmForm_putimportPixelArt"}}{{/block}}
	{{/ifContainsAnyRoles}}
{{#block "htmSuggested"}}{{/block}}
{{/inline}}
{{#*inline "htmSuggestedPixelArtPage"}}
			{{#ifContainsAnyRoles roles rolesRequired}}
					<div class="">
						<button id="refreshAllPixelArtGenPage{{id}}" class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-blue "
							onclick="patch{{classSimpleName}}Vals([], {}, function() { addGlow($('#refreshAllPixelArtGenPage{{id}}')); }, function() { addError($('#refreshAllPixelArtGenPage{{id}}')); }); "
							>
							<i class="fas fa-sync-alt "></i>
							refresh all the pixel arts
						</button>
					</div>
			{{/ifContainsAnyRoles}}
			<div class="w3-cell-row ">
				<div class="w3-cell ">
					<span>
						search pixel arts: 
					</span>
				</div>
			</div>
			<div class="w3-bar ">
				<input
					type="text"
					class="suggestPixelArt w3-input w3-border w3-bar-item "
					name="suggestPixelArt"
					id="suggestPixelArt{{id}}"
					autocomplete="off"
					oninput="suggestPixelArtObjectSuggest( [ { 'name': 'q', 'value': 'objectSuggest:' + $(this).val() }, { 'name': 'rows', 'value': '10' }, { 'name': 'fl', 'value': 'classCanonicalName,pk,pageUrlPk,objectTitle' } ], $('#suggestListPixelArt{{id}}'), {{pk}}; "
					onkeyup="if (event.keyCode === 13) { event.preventDefault(); window.location.href = '/pixel-art?q={{query1}}:' + encodeURIComponent(this.value) + '{{fqs}}{{sorts}}&amp;rows={{start2}}&amp;rows={{rows1}}"
				{{#if listPixelArt}}
					value="{{query2}}"
				{{/if}}
				/>
				<button
					class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
					onclick="window.location.href = '/pixel-art?q=&quot;, query1, &quot;:' + encodeURIComponent(this.previousElementSibling.value) + '&quot;, fqs, sorts, &quot;&amp;rows=&quot;, start2, &quot;&amp;rows=&quot;, rows1, &quot;'; "
					>
					<i class="fas fa-search "></i>
				</button>
			<div>
			<div class="w3-cell-row ">
				<div class="w3-cell w3-left-align w3-cell-top ">
					<ul class="w3-ul w3-hoverable " id="suggestListPixelArt{{id}}">
					</ul>
				</div>
			</div>
			<div class="">
				<a href="/pixel-art" class="">
					<i class="fat fa-table-cells"></i>
					see all the pixel arts
				</a>
			</div>
{{/inline}}
{{> BaseModelPage baseModel_=pixelArt_}}

{{#*inline "htmBase64Data"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}PixelArtBase64Data">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_base64Data">base64 data</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputBase64Data"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_base64Data')); $('#{{classApiMethodMethod}}_base64Data').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#PixelArtForm :input[name=pk]').val() }], 'setBase64Data', null, function() { addGlow($('#{{classApiMethodMethod}}_base64Data')); }, function() { addError($('#{{classApiMethodMethod}}_base64Data')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputBase64Data"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<div class="imageBase64Div1PixelArt_base64Data" id="imageBase64Div1PixelArt{{pk}}base64Data">
															<h5>Upload image</h5>
															<form method="POST" enctype="multipart/form-data" action="/api/pixel-art" class="">
																<input type="hidden" name="pk" value="{{pk}}"/>
																<input type="hidden" name="classSimpleName" value="PixelArt"/>
																<input name="file" type="file" onchange="$.ajax({ type: 'POST', enctype: 'multipart/form-data', url: '/api/pixel-art', data: new FormData(this.form), processData: false, contentType: false}); "/>
															</form>
															<img id="imageBase64ImgPixelArt{{pk}}base64Data");
																class="imgPixelArt{{pk}}Base64Data w3-image "
																src="{{#if base64Data}}data:image/png;base64,{{else}}{{pixelArt_.base64Data}}{{/if}} alt=""
															/>
														</div>
													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varPixelArt{{pk}}Base64Data ">{{pixelArt_.base64Data}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}

{{#*inline "htmPixelArtName"}}
								<div class="w3-cell w3-cell-top w3-center w3-mobile ">
									<div class="w3-padding ">
										<div id="suggest{{classApiMethodMethod}}PixelArtPixelArtName">
											<div class="w3-card ">
												<div class="w3-cell-row w3-blue">
													<label for="{{classApiMethodMethod}}_pixelArtName">base64 data</label>
												</div>
												<div class="w3-cell-row w3-padding ">
													<div class="w3-cell ">
														{{> "inputPixelArtName"}}
													</div>
	{{#ifContainsAnyRoles roles rolesRequired}}
		{{#eq 'Page' classApiMethodMethod}}
															<div class="w3-cell w3-left-align w3-cell-top ">
																<button
																		tabindex="-1"
																		class="w3-btn w3-round w3-border w3-border-black w3-ripple w3-padding w3-bar-item w3-blue "
																		onclick="removeGlow($('#{{classApiMethodMethod}}_pixelArtName')); $('#{{classApiMethodMethod}}_pixelArtName').val(null); patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:' + $('#PixelArtForm :input[name=pk]').val() }], 'setPixelArtName', null, function() { addGlow($('#{{classApiMethodMethod}}_pixelArtName')); }, function() { addError($('#{{classApiMethodMethod}}_pixelArtName')); }); "
																		>
																	<i class="far fa-eraser "></i>
																</button>
															</div>
														{{/eq}}
	{{/ifContainsAnyRoles}}
												</div>
											</div>
										</div>
									</div>
								</div>
{{/inline}}

{{#*inline "inputPixelArtName"}}
		{{#ifContainsAnyRoles roles rolesRequired}}
														<input
															type="text"
															placeholder="base64 data"
															id="{{classApiMethodMethod}}_pixelArtName"
	{{#eq "Page" classApiMethodMethod}}
																class="setPixelArtName classPixelArt inputPixelArt{{pk}}PixelArtName w3-input w3-border "
																name="setPixelArtName"
	{{else}}
		{{#eq "PATCH" classApiMethodMethod}}
																class="setPixelArtName classPixelArt inputPixelArt{{pk}}PixelArtName w3-input w3-border "
																name="setPixelArtName"
		{{else}}
																class="valuePixelArtName w3-input w3-border classPixelArt inputPixelArt{{pk}}PixelArtName w3-input w3-border "
																name="pixelArtName"
		{{/eq}}
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
																onclick="removeGlow($(this)); "
																onchange="patch{{classSimpleName}}Val([{ name: 'softCommit', value: 'true' }, { name: 'fq', value: 'pk:{{pk}}' }], 'setPixelArtName', $(this).val(), function() { addGlow($('#{{classApiMethodMethod}}_pixelArtName')); }, function() { addError($('#{{classApiMethodMethod}}_pixelArtName')); }); "
	{{/eq}}
	{{#eq "Page" classApiMethodMethod}}
															value="{{pixelArt_.pixelArtName}}"
	{{/eq}}
														/>

													{{else}}
														{{#ifContainsKeys userKeys}}
															<span class="varPixelArt{{pk}}PixelArtName ">{{pixelArt_.pixelArtName}}</span>
			{{/ifContainsKeys}}
		{{/ifContainsAnyRoles}}
{{/inline}}
